body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Evita la barra de desplazamiento horizontal */
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0px;
}

.nav-main {
    background-color: #121317;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    display: flex;
    justify-content: space-between; /* Alinear elementos en los extremos */
    align-items: center; /* Centrar verticalmente los elementos */
    padding: 0 20px; /* Ajustar el relleno para el espacio alrededor del logo y el menú */
}

.nav-main img {
    margin-top: 0px;
    max-height: 50px; /* Ajustar la altura máxima del logo */
}

/* NAV MENU */
.nav-menu {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 100px; /* Add margin to the right */
}

.nav-menu li {
    display: inline-block;
    margin-right: 20px; /* Ajustar el margen entre elementos del menú */
}

.nav-menu li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

/* HOVER EFECTO */
.nav-menu li a:hover {
    color: #e6e6e6; /* Cambia el color del texto al pasar el mouse */
}

.nav-menu li a::after {
    content: ''; /* Agrega un pseudo-elemento después del enlace */
    display: block;
    width: 0;
    height: 2px;
    background-color: #e7e7e7; /* Color de la línea */
    transition: width 0.3s; /* Transición suave */
}

.nav-menu li a:hover::after {
    width: 100%; /* Anima la anchura al pasar el mouse */
}

/*SLIDER*/
.slider {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 100px);
}

.slider::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 1;
}

.slider ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
    z-index: 2;
}

.slider ul li {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px; /* Adjust font size as needed */
    font-weight: bold; /* Make the title bold */
    z-index: 3;
}

/*Slider2*/
.slider2 {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 100px);
}

.slider2::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.slider2 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 0.5s ease;
    height: 100%;
    z-index: 2;
}

.slider2 ul li {
    position: relative;
    width: 100%;
    height: 100%;
}

.slider2-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 36px; /* Adjust font size as needed */
    font-weight: bold; /* Make the title bold */
    z-index: 3;
}


.photo-carousel {
    display: none;
}

.photo-carousel.show {
    display: block;
}


/*FOOTER*/
.footer {
    background-color: #121317;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer-section {
    margin-bottom: 20px;
}

.footer-logo-list,
.footer-contact-list,
.footer-social-list {
    list-style: none;
    padding: 0;
}



.footer-logo-list img {
    max-width: 100px;
    max-height: 50px;
}

.footer-contact-list li,
.footer-social-list li {
    margin-bottom: 10px;
}

.footer-social-list a {
    color: #ffffff;
    text-decoration: none;
    font-size: 24px;
    margin: 0 10px;
}



/*BOTON WAP*/
.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25D366;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.whatsapp-btn:hover {
    background-color: #128C7E;
}

/* CSS mejorado para "Nuestra ubicación" con interactividad en el h2 */
.location {
    text-align: center;
    background-color: #121317; /* Fondo oscuro */
    color: #ffffff; /* Texto blanco */
    padding: 10px 0; /* Aumentar el espacio interno */
}

.location h2 {
    font-size: 24px; /* Tamaño de fuente más grande */
    margin: 0;
    transition: color 0.3s; /* Transición suave del color */
    cursor: pointer; /* Cambiar el cursor al pasar el mouse */
    padding: 30px;
}

.location h2:hover {
    color: #bdbdbd; /* Cambiar el color al pasar el mouse */
}

.location p {
    font-size: 16px; /* Tamaño de fuente del texto */
    margin-top: 20px; /* Espaciado superior */
}

/* Estilizar el iframe de Google Maps */
.location iframe {
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px; /* Bordes redondeados */
    max-width: 100%;
    height: 600px; /* Reducir la altura para que se vea mejor en la página */
    margin-top: 20px; /* Espaciado superior */
}


/*PANEL TRIPLE*/
.tricolor-panel {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0; /* Color de fondo gris claro */
    padding: 20px;
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.panel-item {
    text-align: center;
    padding: 20px; /* Espacio interno */
    border-radius: 10px; /* Bordes redondeados */
    background-color: #ffffff; /* Color de fondo blanco */
    transition: all 0.3s ease; /* Transición suave */
}

.panel-item:hover {
    transform: translateY(-5px); /* Efecto de elevación al pasar el mouse */
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada */
}

.panel-item i {
    font-size: 30px; /* Tamaño de los iconos */
    color: #555555; /* Color de iconos */
}

.panel-item h3 {
    margin-bottom: 10px; /* Espaciado inferior */
    font-size: 20px; /* Tamaño de fuente del título */
    color: #333333; /* Color del texto del título */
}

.panel-item p {
    font-size: 16px; /* Tamaño de fuente del texto */
    color: #000000; /* Color del texto */
}

/*CATALOGO*/
/* Album Content */


.album-content {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.album-content h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
}

.album-content p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 20px;
}

/* Catalog Section */
.catalog-section {
    margin-bottom: 40px;
}

.catalog-section h2 {
    font-size: 24px;
    color: #555;
    margin-bottom: 15px;
}

.photo-carousel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.photo {
    width: calc(25% - 20px);
    margin-bottom: 20px;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.photo img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.photo h3 {
    font-size: 16px;
    color: #333;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}

.photo:hover img {
    transform: scale(1.1);
}

.photo:hover h3 {
    background-color: rgba(255, 255, 255, 1);
}

/* Responsive */
@media screen and (max-width: 768px) {
    .photo {
        width: calc(50% - 20px);
    }
}
/*Servicios*/

.servicios {
    max-width: 1200px;
    margin: 60px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.servicios h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
}

.servicios h2 {
    text-align: center;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.servicios p {
    color: #000000;
    line-height: 1.6;
}

/* List style for sections */
.servicios ul {
    list-style: none;
    padding: 0;
}

.servicios li {
    margin-bottom: 40px;
}

.servicios h3 {
    font-size: 24px;
    color: #383838;
    margin-bottom: 10px;
}

.servicios img {
    width: 100%;
    max-width: 300px; /* Reduced size */
    height: auto;
    display: block;
    border-radius: 5px;
}

.servicios section {
    background-color: #f9f9f9; /* Light gray background for sections */
    padding: 15px; /* Add padding to improve spacing */
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s ease; /* Smooth transition */
}

.servicios section:hover {
    background-color: #e0e0e0; /* Darker gray on hover */
}

.servicios section p {
    margin-top: 10px;
    opacity: 100; /* Hide text by default */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.servicios section:hover p {
    opacity: 1; /* Show text on hover */
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .servicios {
        padding: 10px;
    }
    .servicios h1 {
        font-size: 24px;
    }
    .servicios h2 {
        font-size: 20px;
    }
    .servicios img {
        max-width: 100%;
    }
}

/*Obras realizadas*/

/*Contacto*/
/* Estilos para la sección de contacto */
.contacto-section {
    background-color: #f9f9f9; /* Color de fondo */
    padding: 60px 0; /* Espaciado interno */
    text-align: center; /* Alinear el contenido al centro */
        max-width: 1200px;
        margin: 60px auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

.contacto-section h1 {
    font-size: 30px; /* Tamaño del título */
    color: #333; /* Color del texto */
    margin-bottom: 40px; /* Espaciado inferior */
}

.contacto-section a {
    color:black;
}

.informacion {
    max-width: 600px; /* Ancho máximo del contenido */
    margin: 0 auto; /* Centrar el contenido horizontalmente */
}

.informacion h2 {
    font-size: 24px; /* Tamaño del título */
    color: #555; /* Color del texto */
    margin-bottom: 20px; /* Espaciado inferior */
}

.informacion p {
    font-size: 18px; /* Tamaño del texto */
    color: #777; /* Color del texto */
    margin-bottom: 15px; /* Espaciado inferior */
}

.informacion p strong {
    color: #333; /* Color del texto en negrita */
}


/*Nuestra empresa*/
.empresa-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
}

.mision,
.vision,
.valores {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.mision h2,
.vision h2,
.valores h2 {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 15px;
}

.mision p,
.vision p,
.valores p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 15px;
}

.mision p:last-child,
.vision p:last-child,
.valores p:last-child {
    margin-bottom: 0;
}

.valores ul {
    margin-top: 15px;
}

.valores ul li {
    margin-bottom: 10px;
}

.valores ul li strong {
    color: #333;
}

/* Responsiveness */
@media (max-width: 768px) {
    .empresa-section {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

/* Estilos para logos-container */
.logos-container {
    background-color: #f2f2f2; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    border-radius: 10px; /* Bordes redondeados */
    margin-top: 30px; /* Margen superior */
}

/* Estilos para la sección de logos */
.logos {
    display: flex; /* Mostrar las imágenes en una fila */
    flex-wrap: wrap; /* Permitir que las imágenes se envuelvan a la siguiente línea si no hay suficiente espacio */
    justify-content: center; /* Centrar las imágenes horizontalmente */
}

/* Estilos para las imágenes de los logos */
.logos img {
    width: 150px; /* Ancho de las imágenes */
    height: 150px; /* Altura de las imágenes */
    margin: 10px; /* Margen entre las imágenes */
    transition: transform 0.3s ease; /* Transición para el efecto de hover */
    border-radius: 10px;
    object-fit: contain; /* Ajusta la imagen dentro del contenedor sin deformarla */
}



/* Efecto de hover para las imágenes */
.logos img:hover {
    transform: scale(1.1); /* Aumentar ligeramente el tamaño de la imagen al pasar el mouse */
}


/* Obras realizadas */
/* Mobile Devices Styles */
/* Common Styles */
body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

a {
    color: #ffffff;
}

.container {
    width: 100%;
    max-width: 100%;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}


.tricolor-panel {
    background-color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.panel-item {
    flex: 1 1 250px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f0f0f0;
    border-radius: 10px;
}

.panel-item i {
    font-size: 36px;
    margin-bottom: 10px;
    color: #333;
}

.panel-item h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.panel-item p {
    font-size: 14px;
    color: #121317;
}

.location {
    text-align: center;
    background-color: #121317;
    color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    border-radius: 0px;
}

.location h2 {
    font-size: 24px;
    margin: 0;
    transition: color 0.3s;
    cursor: pointer;
    padding: 30px;
    margin-top: 0;
    color: #ffffff;
}

.location h2:hover {
    color: #cacaca;
}

.location p {
    font-size: 16px;
    margin-top: 20px;
}

.location iframe {
    border: none;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    max-width: 100%;
    height: 600px;
    margin-top: 20px;
}

.footer {
    background-color: #121317;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1 1 250px;
    margin: 10px;
}

.footer-logo-list,
.footer-contact-list,
.footer-social-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-logo-list img {
    width: 100px;
    height: auto;
}

.footer-social-list li {
    display: inline-block;
    margin: 0 5px;
}

.footer-social-list a {
    color: #fff;
    font-size: 24px;
}

.whatsapp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 30px;
    z-index: 1000;
    transition: all 0.3s ease;
}

.whatsapp-btn:hover {
    background-color: #128c7e;
}

/* Media Query for Mobile Optimization */
@media only screen and (max-width: 768px) {
    .nav-menu {
        display: none;
        position: fixed;
        top: 54px; /* Adjust according to your header height */
        left: 0;
        width: 100%;
        background-color: #121317;
        padding-top: 20px;
        text-align: center;
        z-index: 1000;
    }

    .nav-menu.active {
        display: block;
    }

    .nav-menu li {
        display: block;
        margin-bottom: 10px;
    }


    .nav-menu {
        order: 2; /* Moves the nav-menu to the right */
    }

    .slider ul li img {
        height: auto;
    }

    .location iframe {
        height: 200px;
    }

    .footer-section {
        max-width: 100%;
        margin-bottom: 10px;
    }
}

/* Styles for the mobile navigation menu */
.nav-menu-mobile {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #121317;
    padding-top: 20px;
    text-align: center;
    z-index: 998; /* Ensure it's below the burger menu */
}

.nav-menu-mobile.active {
    display: block;
}

.nav-menu-mobile ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-menu-mobile li {
    display: block;
    margin-bottom: 10px;
}

.nav-menu-mobile a {
    color: #ffffff;
    text-decoration: none;
    font-size: 15px;
}

.nav-menu-mobile a:hover {
    color: #e6e6e6;
}

/* Existing CSS */
/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #ffffff;
    z-index: 1001; /* Ensuring the hamburger menu is above other content */
    position: absolute;
    top: 50%;
    right: 10%; /* Adjust this value as needed */
    transform: translate(-50%, -50%);
}

/* Hamburger Menu */
.hamburger {
    display: none;
    font-size: 28px;
    cursor: pointer;
    color: #ffffff;
    z-index: 1001; /* Ensuring the hamburger menu is above other content */
    position: absolute;
    top: 50%;
    right: 10%; /* Adjust this value as needed */
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: block;
    }

    .nav-menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px; /* Adjust according to your header height */
        left: calc(100% - 220px); /* Aligning the menu to the right */
        background-color: #121317;
        border-radius: 8px;
        width: 175px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 1000;
    }

    .nav-menu li {
        display: block;
        margin: 10px 0;
        text-align: right;
        margin-right: 20px;
    }
}


/* Additional CSS for transitions */
.nav-menu.show {
    display: flex;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


/* Additional CSS for transitions */
.nav-menu.show {
    display: flex;
    animation: fadeIn 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

